@font-face {
    font-family: Botanica;
    src: url(../fonts/Botanica.otf);
}
@font-face {
    font-family: Evangelina;
    src: url(../fonts/Evangelina.otf);
}

body{
    font-family:Botanica;
    color: #0D0D0D;
}
.navbar a {
    color: #0D0D0D !important;
    text-decoration: none;
    font-size: 24px;
    transition: .5s;
}
.navbar a:hover {
    color: #BFB99E !important;
}