@font-face {
    font-family: Botanica;
    src: url(../fonts/Botanica.otf);
}

@font-face {
    font-family: Evangelina;
    src: url(../fonts/Evangelina.otf);
}

body {
    font-family: Botanica;
    color: #0D0D0D;
    background-color: #DDD6D1;
}

main {
    padding-top: 130px;
}


/* navbar */

.navbar {
    background-color: #DDD6D1;
}

.navbar a {
    color: #0D0D0D !important;
    text-decoration: none;
    font-size: 24px;
    transition: .5s;
    font-family: Evangelina;
}

.navbar .link-active {
    color: #BFB99E !important;
}

.navbar a:hover {
    color: #BFB99E !important;
}


/* contact me */

.contact-me {
    margin-top: 20vh;
}

.contact-me h1 {
    font-family: Evangelina;
    font-size: 120px;
}

.contact-me h1 {
    margin-right: 15vh;
    font-family: Evangelina;
}

.contact-me p {
    font-family: Evangelina;
}

.contact-me p span {
    font-weight: bold;
}

.lets-connect {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 25%;
    font-family: Evangelina;
    font-size: 200px;
    color: #B7C1A7;
}


/* illustrations */

.illustrations h1 {
    font-size: 48px;
}

.illustrations h1 span {
    font-family: Evangelina;
}

.img-container {
    height: 700px;
    object-fit: cover;
    width: 30%;
}

@media only screen and (max-width: 768px) {
    .img-container {
        margin-top: 5vh;
        width: 100%;
    }
}